<fieldset>
  <legend class="doc">Movies</legend>
  <ng-container *ngFor="let movie of dataMovies$ | async" >
  <li class="list-movie" *ngIf="movie?.title?.toLowerCase()?.includes(titleFilter().toLowerCase()) && movie?.releaseDate?.startsWith(releaseYearFilter())">
    <div class="row">
      <h3>
        {{ movie.title }}
        <div class="row">
          <div class="releaseDate">Release date: {{ movie.releaseDate }}</div>
          <div class="budget">Budget: {{ movie.budget | millionDollars }}</div>
          <div class="duration">Duration: {{ movie.duration | duration }}</div>
        </div>
      </h3>
      <button class="details" [attr.id]="movie.id" (click)="goToMovieDetail(movie.id)">Details</button>
    </div>
  </li>
  </ng-container>
</fieldset>

