:host{
  display: flex;
  flex-direction: column;
  padding: 0 15rem;
}

.summary{
  text-align: center;
  align-content: center;
  vertical-align: middle;
  padding-top: 5rem;
}

.poster{
  width: 300px;
  height: 400px;
}

.poster-summary {
  display: flex;
  gap: 1rem;
}


